<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moose.nareachmvp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".NareachApp"
        android:allowBackup="true"
        android:icon="@mipmap/tx_moose"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- android:name=".activities.Main4ReplaceFragmentActivity" -->
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/title_activity_splash"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.AboutMeActivity"
            android:label="@string/moose_about_me"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.UserPhotoActivity"
            android:label="@string/title_activity_my_photo"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.ImageDescriptionActivity"></activity>
    </application>

</manifest>